.form-validate {
    max-width: 410px;
    padding: 15px;
}

.form-validate small.error {
    display: none;
}

.form-validate :invalid[focused="true"] {
    border: 1px solid rgba(var(--bs-danger-rgb));
}

.form-validate :invalid[focused="true"] ~ small.error {
    display: block;
}